{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

        {{form_row(form.nom) }} 

        <ul id="formateurs" data-prototype= "{{ form_row(form.formateurs.vars.prototype)|e('html_attr') }}">

            {% for formateur in form.formateurs %}
                <li>
                    {{ form_row(formateur) }}
                </li>
            {% endfor %}

        </ul>

        {{form_row(form.submit) }} 
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="/js/categorieHandler.js"></script>
{% endblock %}