{% extends 'base.html.twig' %}

{% block body %}
   {{ form_start(form) }}


    {{form_row(form.nom) }} 
    {{form_row(form.prenom) }}
    {{form_row(form.sexe) }}
    {{form_row(form.dateNaissance) }}
    {{form_row(form.ville) }}
    {{form_row(form.email) }}
    {{form_row(form.telephone) }}

    <input type='hidden' id="maxNb" value = '15'>

    <ul class="collections" data-prototype= "{{ form_row(form.categories.vars.prototype)|e('html_attr') }}">

        {% for categorie in form.categories %}
            <li>
                {{ form_row(categorie) }}
            </li>
        {% endfor %}

    </ul>

      {{form_row(form.submit) }} 
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="/js/collectionHandler.js"></script>
{% endblock %}