{% extends 'base.html.twig' %}

{% block body %}

	<h2>Date de la formation : {{ formation.dateDebut | date("d/m/Y") }} au {{ formation.dateFin | date("d/m/Y") }}</h2>

	<table class="table table-striped table-warning">
		<thead>
			<tr>
				<th scope="col">Catégorie et modules</th>
				<th scope="col">Formateurs</th>
			</tr>
		</thead>

		<tbody>
			{# {% if formation.modules %}
				{% for module in formation.modules %}
					{% if categorieM is not defined or categorieM != module.categorie %}	
						<tr>
							<td style="text-align: center"><strong>{{ module.categorie }}<strong></td> 
							{% for formateur in module.categorie.formateurs %}
								<td >{{ formateur }}</td> 
							{% endfor %}
						</tr>		
					{% endif %}				
						<tr>
							<td>{{ module }}</td>
							<td></td>
						</tr>
					{% set categorieM = module.categorie %}
				{% endfor %}
			{% endif %} #}

			{% if formation.dureeModules %}
				{% for dureeModule in formation.dureeModules %}
					{% if categorieM is not defined or categorieM != dureeModule.module.categorie %}	
						<tr>
							<td style="text-align: center"><strong>{{ dureeModule.module.categorie }}<strong></td> 
							{% for formateur in dureeModule.module.categorie.formateurs %}
								<td >{{ formateur }}</td> 
							{% endfor %}
						</tr>		
					{% endif %}				
						<tr>
							<td>{{ dureeModule.module ~ ' (' ~ dureeModule.duree ~ ' jours)' }}</td>
							<td></td>
						</tr>
					{% set categorieM = dureeModule.module.categorie %}
				{% endfor %}
			{% endif %}
		</tbody>
	</table>

	<h2>Liste des stagiaires de la formation :</h2>

	<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Détails</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        
        <tbody>
            {% for stagiaire in formation.stagiaires %}
            <tr>
				<td scope="col">{{ stagiaire.prenom }}</td>
				<td scope="col">{{ stagiaire.nom }}</td>
				<td><a href="{{ path('showInfoStagiaire',{'id':stagiaire.id}) }}"><i class="fas fa-list-alt"></i></a></td>
                <td><a href="{{ path('editStagiaire',{'id':stagiaire.id}) }}"><i class="fas fa-edit"></i></a></td>
                <td><a href="{{ path('deleteStagiaire',{'id':stagiaire.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
