{% extends 'base.html.twig' %}

{% block body %}

    {% if stagiaire is defined %}

        {% set personne = stagiaire %}

    {% else %}

        {% set personne = formateur %}

    {% endif %}

    <p>Sexe : {{ personne.sexe }}<p>
    <p>Date de naissance : {{ personne.dateNaissance | date("d/m/Y") }}<p>
    {% if personne.ville %}
        <p>Ville : {{ personne.ville }}<p>
    {% endif %}
    <p>Courriel : {{ personne.email }}<p>
    <p>Téléphone : {{ personne.telephone }}<p>

    {% if stagiaire is defined %}

    {% for formation in stagiaire.formations %}

    <p>Diplôme « {{ stagiaire.formation.nom  }} » <a href=" {{  path("showDiplome", { "id": personne.id } )  }}  " >Donner le diplôme</a></p>

    {% endfor %}

    {% endif %}

{% endblock %}
