{% extends 'base.html.twig' %}

{% block body %}

    {% if stagiaire is defined %}

        {% set personne = stagiaire %}

    {% else %}

        {% set personne = formateur %}

    {% endif %}

    <p>Sexe : {{ personne.sexe }}<p>
    <p>Date de naissance : {{ personne.dateNaissance | date("d/m/Y") }}<p>
    {% if personne.ville %}
        <p>Ville : {{ personne.ville }}<p>
    {% endif %}
    <p>Courriel : {{ personne.email }}<p>
    <p>Téléphone : {{ personne.telephone }}<p>

    {% if stagiaire is defined %}

    <p>Listes des formations :</p>
        {% for formation in stagiaire.formations %}
            {% if formation.dateFin < date() %}
                <p><a href="{{ path('showInfoSession',{'id':formation.id}) }}">{{ formation ~ ' (terminée le ' ~ formation.dateFin | date("d/m/Y") ~ ') ' }}</a><a href=" {{ path("createPdf", { "id": personne.id, "id_formation" : formation.id } ) }}  " ><button type="button" class="btn btn-warning" >Obtenir le diplôme en PDF</button></a></p>
            {% else %}
                
                <p><a href="{{ path('showInfoSession',{'id':formation.id}) }}">{{ formation ~ ' (Du ' ~ formation.dateDebut | date("d/m/Y") ~ ' au ' ~ formation.dateFin | date("d/m/Y") ~ ') ' }}</a></p>
            {% endif %}

        {% endfor %}

            
    {% else %}

    <p>Listes des catégories :</p>
    {% for categorie in formateur.categories %}
        <p>{{ categorie }}</p>

    {% endfor %}

    {% endif %}

{% endblock %}
