{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped table-warning">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Nb places théorique</th>
                <th scope="col">Nb places réservées</th>
                <th scope="col">Nb places restantes</th>
                <th scope="col">Détails</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        
        <tbody>
            {% for formation in formations %}
                {% set nbPlacesRestantes = formation.nbPlaces - formation.stagiaires|length %}
                <tr>
                    <td>{{  formation.nom  }}</td>
                    <td>{{  formation.dateDebut|date("d/m/Y")  }}</td>
                    <td>{{  formation.dateFin|date("d/m/Y")  }}</td>
                    <td>{{  formation.nbPlaces  }}</td>
                    <td>{{  formation.stagiaires|length  }}</td>
                    <td>{{  nbPlacesRestantes  }}</td>
                    <td><a href="{{ path('showInfoSession',{'id':formation.id}) }}"><i class="fas fa-list-alt"></i></a></td>
                    <td><a href="{{ path('editFormation',{'id':formation.id}) }}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{{ path('deleteFormation',{'id':formation.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ path('addFormation') }}"><button type="button" class="btn btn-warning btn-lg">Ajouter une formation</button></a></p>

{% endblock %}
