{% extends 'base.html.twig' %}

{% block body %}

        <h1>{{ title }}</h1>

<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Sexe</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Ville</th>
                <th scope="col">Courriel</th>
                <th scope="col">Téléphone</th>
                
            </tr>
        </thead>
        
        <tbody>
            {% for formateur in formateurs %}
            
            <tr>
                <td>{{ formateur.prenom }}</td>
                <td>{{ formateur.nom }}</td>
                <td>{{ formateur.sexe }}</td>
                <td>{{ formateur.dateNaissance | date("d/m/Y") }}</td>
                <td>{{ formateur.ville }}</td>
                <td>{{ formateur.email }}</td>
                <td>{{ formateur.telephone }}</td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <p><a href="../add/formateur"  ><button type="button" class="btn btn-primary btn-lg">Ajouter formateur</button></a></p>



{% endblock %}
