{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Sexe</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Ville</th>
                <th scope="col">Courriel</th>
                <th scope="col">Téléphone</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for stagiaire in formation.stagiaires %}
            <tr>
                <a href="{{ path('showInfoFormateur',{'id':personne.id}) }}" ><td scope="col">{{ stagiaire.prenom }}</td></a>
                <td scope="col">{{ stagiaire.nom }}</td>
                <td scope="col">{{ stagiaire.sexe }}</td>
                <td scope="col">{{ stagiaire.dateNaissance }}</td>
                <td scope="col">{{ stagiaire.ville }}</td>
                <td scope="col">{{ stagiaire.email }}</td>
                <td scope="col">{{ stagiaire.telephone }}</td>
                <td><a href="{{ path('editStagiaire',{'id':personne.id}) }}"><i class="fas fa-edit"></i></a></td>
                <td><a href="{{ path('deleteStagiaire',{'id':personne.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
