{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>

        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td style="text-align: center"><strong>{{ categorie.nom }}<strong></td> 
            </tr>
            {% for module in categorie.modules %}
            <tr>
                <td>{{ module.nom }}</td>
                <td><a href="{{ path('editModule',{'id':module.id}) }}"><i class="fas fa-edit"></i></a></td>
                <td><a href="{{ path('deleteModule',{'id':module.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                {# {% for module in categorie.modules %} #}
                    {# <td>{{ module }} avec : formateur du module</td> #}
                {# {% endfor %} #}
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <p><a href="../add/categorie"  ><button type="button" class="btn btn-primary btn-lg">Ajouter une catégorie</button></a></p>
    <p><a href="../add/module"  ><button type="button" class="btn btn-primary btn-lg">Ajouter un module</button></a></p>


{% endblock %}
